html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header{
    margin-left: 50px;
    margin-right: 50px;
}

#headerbutton1, #headerbutton2, #headerbutton3 {
    font-size: 18px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: inherit;
    font-weight: bold;
}

.container-fluid {
    margin-left:160px;
}
