@{
    ViewData["Title"] = "Комплексы";
}

@{
    Layout = "_Layout";
}

<div class="text-center"> 
    <p>Для генерации комплекса авторизируйтесь</p>
    <a href="LoginPopup" class="btn btn-primary">Авторизоваться</a>
</div>