@{
    ViewData["Title"] = "Упражнения";
}

@{
    Layout = "_LayoutAuthorized";
}

<div class="text-center">
    <h1 class="display-4">Добро Пожаловать</h1>
    <p>Тут скоро будет что-то интересное</p>
</div>
