@{
    ViewData["Title"] = "Главная";
}

@{
    Layout = "_LayoutAuthorized";
}

<div class="text-center">
    <img src="https://kai.ru/documents/10181/10847218/%D0%AE%D1%81%D1%83%D0%BF%D0%BE%D0%B2+%D0%A8.%D0%A0..jpg/8bedda4a-81b7-46ef-9a15-8e2ba67e63a6?t=1614690848371" height="300" />
    <h1 style="color: #999999; font-size: 18px; font-weight: bold; font-style: inherit; margin-top: 5px">
        Заведующий кафедрой: Юсупов Шамиль Ринатович
    </h1>
</div>
